body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.form-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #8b4512;
    border-radius: 8px;
    box-shadow: 3px 3px 0px 0px #000000;
}

h1, p {
    color: #fff;
    text-align: center;
}

.input-group {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #8b4512;
    border-radius: 8px;
    box-shadow: 1.5px 1.5px 0px 0px #000000;
}

.input-group label {
    color: #fff;
}

input, select, textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #f6ddb5;
    color: #000;
    margin: 5px 0 15px 0;
}

.button-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #8b4512;
    text-align: center;
}

button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    box-shadow: none;
    margin-top: 10px;
}

button:hover {
    background-color: #333333;
}
